.jumbotron2 {
    background-image: url("https://lovefoodhatewaste.ca/wp-content/uploads/2018/06/FoodBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.menu-view,
.shopping-cart {
    height: max-content;
}

.payment {
    height: 50px !important;
    width: 80px !important;
}


.card-columns {
    column-count: 2;
}

.container-style {
    background-image: url("https://unblast.com/wp-content/uploads/2020/05/Light-Wood-Background-Texture-5.jpg");
}

.main-color,
.trash {
    color: #c5504e;
}

.button-background {
    background-color: #c5504e;
}

.menu-font {
    font-family: 'Courgette', cursive;
}

.to-uppercase {
    text-transform: uppercase;
}
.title-border {
    border-width: thick;
    border-style: solid;
    border-color: white;
}

.contact-border {
    border-top-color: white;
    border-top-width: thick;
    border-top-style: solid;
    border-bottom-color: white;
    border-bottom-width: thick;
    border-bottom-style: solid;
}

.menu-item {
    border-color: #c5504e;
    border-width: thin;
    transition-timing-function: ease-out;
}
.menu-item:hover {
    border-width: thick;
}

.trash:hover {
    color: grey;
}
.quantity {
    background-color: #c5504e;
    border-radius: 1em;
    color: white;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}
.quantity:hover {
    background-color: grey;
    color: white;
    font-size: 18px;
}

.cart-item {
    border-top: #c5504e;
    border-top-style: ridge;
    padding-top: 1em;
}

