.header {

    display: flex;


}

img {

    height: 150px;
    width: 150px;

}

.invbtn {

    margin-left: 80%;

}

.menutab {

    border: 2px solid red;
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 400px;
    height: 400px;

}

.foodcount {

    border: 2px solid red;
    margin-left: 40%;
    margin-top: 15%;
    width: 400px;
    height: 400px;
}

.body {

    display:inline-flex;

}

.tables {

    

}