.header {

    display: flex;


}

img {

    height: 150px;
    width: 150px;

}

.invbtn {

    margin-left: 80%;

}

.menutab {

    border: 2px solid red;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 700px;
    height: 700px;

}

.foodcount {

    border: 2px solid red;
    margin-left: 150%;
    margin-top: 25%;
    width: 400px;
    height: 700px;
}

.body {

    display:inline-flex;

}

.tables {

    

}